<h1>Novo Administrador</h1>
 <%= form_for @user do |f| %>
              <% if @user.errors.any? %>
              <div id="error_explanation">
                          <div class="alert-error">
                                     O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
                          </div>
                          <ul>
                                     <% @user.errors.full_messages.each do |msg| %>
                                     <li><%= msg %></li>
                                     <% end %>
                          </ul>
              </div>
  <% end %>
              <div class="field">
                          <%= f.label :name %>
                          <%= f.text_field :name %>
              </div>
              <div class="field">
                          <%= f.label :email %>
                          <%= f.email_field :email %>
              </div>
              <div class="field">
                          <%= f.label :password %>
                          <%= f.password_field :password %>
              </div>
              <div class="field">
                          <%= f.label :password_confirmation %>
                          <%= f.password_field :password_confirmation %>
              </div>
              <div class="actions">
                          <%= f.submit "Cadastrar"%>
              </div>
  <% end %>