<html>
	<body>
		<h3> Perfil de <%= @user.name %> </h3>
		<%= @user.email %>
		<% if current_user == @user %>
			<ul>
				<li><%= link_to "Delete", @user, method: :delete, data: { confirm: 'Deseja excluir o cadastro?' }%></li>
			</ul>
		<%end%>
	</body>
</html>