/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#frase-principal {
	text-align: center;	
}

#outra {
	text-align: center;
}

/*Cadastro funcionário */
#funcionario_nome{
	color: black;
}
#funcionario_cpf{
	color: black;
}
#funcionario_email{
	color: black;
}
#funcionario_senha{
	color: black;
}

#user_name{
	color:black;
}
#user_password{
	color: black;
}
#user_email{
	color: black;
}
#user_password_confirmation{
	color: black;
}
#session_email{
	color:black;
}
#session_password{
	color:black;
}
.actions > input:nth-child(1){
	color: black;
}
/* Botão */
#query{
	color: black;
}
body > form:nth-child(2) > input:nth-child(4){
	color: black;
}
/* Venda box */
#venda_funcionario{
	color: black
}
#venda_livro{
	color: black
}
#venda_valor{
	color: black
}
/* Cadastro Livro */
#livro_titulo{
	color: black
}
#livro_autor{
	color: black
}
#livro_genero{
	color: black
}
#livro_preco{
	color: black
}
/* botão buscar */
body > form:nth-child(3) > input:nth-child(4){
	color:black;
}