// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	color: white;
	font-family: monospace;
	font-style: italic;
}

h3 {
	color: white;
	font-family: monospace;
}
