// Place all the styles related to the Livros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	color: white;
	font-style: italic;
}