<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table border="1" cellpadding="5px" cellspacing="5px">
  <thead>
    <tr>
        <th> Funcionário </th>
        <th> Título </th>
        <th> Valor </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.funcionario %></td>
        <td><%= venda.livro %></td>
        <td><%= venda.valor %></td>
        <td><%= link_to 'Mostrar', venda %></td>
        <td><%= link_to 'Editar', edit_venda_path(venda) %></td>
        <td><%= link_to 'Excluir', venda, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><i><%= link_to '<< Nova Venda >>', new_venda_path %></i></strong>