<p id="notice"><%= notice %></p>

<p>
  <strong>Funcionario:</strong>
  <%= @venda.funcionario %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @venda.livro %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @venda.valor %>
</p>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
