<p id="notice"><%= notice %></p>

<h1>Cadastro de Funcionários</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <p><td><%= funcionario.nome %></td></p>
        <!--<td><%= funcionario.cpf %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.senha %></td>
        <td><%= link_to 'Mostrar', funcionario %></td>-->
      </tr>
  </tbody>

      <tr>
        <td><%= link_to 'Excluir', funcionario, method: :delete, data: { confirm: 'Deseja excluir o cadastro?' } %>
        </td>
      </tr>

    <% end %>
</table>

<br>

<strong><i><%= link_to '<< Novo funcionário >>', new_funcionario_path %></i></strong>
