<p id="notice"><%= notice %></p>

<h1>Livros</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <tr><td><strong><u><%= livro.titulo %></u></strong></td></tr>
      
        <tr><td><%= livro.autor %></td></tr>
     
        <tr><td><%= livro.genero %></td></tr>
   
        <tr><td><%= livro.preco %></td></tr>
      </tr>
  </tbody>

      <tr>
        <td><%= link_to 'Excluir', livro, method: :delete, data: { confirm: 'Deseja excluir o cadastro?' } %></td>
        
      </tr>
    <% end %>

</table>

<br>

<strong><i><%= link_to '<< Novo Livro >>', new_livro_path %></i></strong>

