<h3> Resultado da pesquisa </h3>

<tbody>
	<% @livros.each do |livro| %>
	<tr>
		<p>  
		<strong>Título:</strong> 
		<%= livro.titulo %>
		</p><td>   
		</td>
		<td>  
		<strong>Autor:</strong> 
		<%= livro.autor %>
		</td><td>   
		</td>
		<td>  
		<strong>Gênero:</strong> 
		<%= livro.genero %>
		</td>
		<td></td>
		<td>  
		<strong>Preço:</strong> 
		<%= livro.preco %>
		</td>
	</tr>
<br></br>
	<% end %>
</tbody>
</br>
<td><%= link_to "Nova Busca", buscar_path %></td>