<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @livro.genero %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @livro.preco %>
</p>

<%= link_to 'Voltar', livros_path %>
